<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatWithLlama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ChatWithLlama.Properties.Settings>
            <setting name="userNameColor" serializeAs="String">
                <value />
            </setting>
            <setting name="userTextColor" serializeAs="String">
                <value />
            </setting>
            <setting name="botNameColor" serializeAs="String">
                <value />
            </setting>
            <setting name="botTextColor" serializeAs="String">
                <value />
            </setting>
            <setting name="attachedSettingsWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="systemMessageText" serializeAs="String">
                <value />
            </setting>
            <setting name="chatHistoryFont" serializeAs="String">
                <value>Segoe Script, 14.25pt</value>
            </setting>
            <setting name="activeModel" serializeAs="String">
                <value />
            </setting>
        </ChatWithLlama.Properties.Settings>
    </userSettings>
</configuration>